%html{:lang => I18n.locale}
  %head
  %body{ onload: "javascript:document.getElementById('payment_form').submit();"}
    %div{:id => "checkout"}(data-hook)
      = render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
      = form_tag 'https://pay.ecard.pl/payment/PS', :method => :post, :id => "payment_form" do
        = hidden_field_tag :COUNTRY, @gateway.country
        = hidden_field_tag :MERCHANTID, @gateway.merchantid
        = hidden_field_tag :ORDERNUMBER, @gateway.ecard_number(@order.number)
        = hidden_field_tag :ORDERDESCRIPTION, @gateway.ecard_desc(@order)
        = hidden_field_tag :AMOUNT, @gateway.ecard_amount(@order.total)
        = hidden_field_tag :CURRENCY, @gateway.currency
        = hidden_field_tag :NAME, @gateway.first_name(@order)
        = hidden_field_tag :SURNAME, @gateway.last_name(@order)
        = hidden_field_tag :LANGUAGE, @gateway.language
        = hidden_field_tag :AUTODEPOSIT, @gateway.autodeposit
        = hidden_field_tag :PAYMENTTYPE, @gateway.paymenttype
        = hidden_field_tag :CHARSET, @gateway.charset
        = hidden_field_tag :RETURNLINK, @link_ok
        = hidden_field_tag :HASHALGORITHM, @gateway.hashalgorithm
        = hidden_field_tag :HASH, @ecard_hash

        %noscript
          %div{:class => "form-buttons", :"data-hook" => "buttons"}
            = submit_tag t(:ecard_payment), :class => 'button button--primary button--big button--upper button--block-center'
